<input class="geocomplete" type="text" placeholder="Search for a location..." />
<input class="search btn btn-primary" type="button" value="Search" />
<div class="map-canvas" style="height: 200px;"></div>
