<div style="position: fixed; left: 50%; top: 10px; transform: translateX(-50%)">
  <button class="btn btn-primary" {{action "findMore"}}>Find more...</button>
  <button class="btn btn-primary" {{action "explode"}}>Explode</button>
</div>
