<nav class="navbar navbar-default navbar-fixed-top">
  {{#link-to "index" class="navbar-brand"}}JoyLuck{{/link-to}}

  <ul class="nav navbar-nav">
    <li>{{#link-to "map"}}Explore Events{{/link-to}}</li>
  </ul>

  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search...">
    </div>
  </form>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 0;">
    <li>{{#link-to "profile"}}{{userName}} Profile{{/link-to}}</li>
    <li><a href="#">Logout</a></li>
  </ul>
</nav>

{{outlet}}
