<div class="navbar">
  Hack Name
  {{#link-to "index"}}Home{{/link-to}}
  {{#link-to "map"}}Map{{/link-to}}
  <input type="text" placeholder="Search...">
  <a href="#">My Profile</a>
  <a href="#">Logout</a>
</div>
{{outlet}}
