<div class="route-index">
  <div class="text" style="z-index:1 !important;">
    <svg>
     <defs>
       <mask id="mask" x="0" y="0" width="100%" height="100%" >
         <!-- alpha rectangle -->
         <!-- rectángulo alfa -->
         <rect id="alpha" x="0" y="0" width="100%" height="100%"/>
         <!-- All text that you want -->
         <!-- Coloca todo el texto que necesites -->
         <text id="title" x="50%" y="0" dy="1.58em">JoyLuck</text>
         <text id="subtitle" x="50%" y="0" dy="9.8em">Enter here</text>
       </mask>
      </defs>
      <!-- Apply color here! -->
      <!-- Color aquí -->
      <rect id="base" x="0" y="0" width="100%" height="100%"/>
    </svg>
  </div>

  <div class = "container">
  <div class = "login" style="z-index:10000 !important;">
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size = "xlarge">
  </fb:login-button>
  </div>
  <div id="status">
  </div>
  </div>
</div>
