{{preference-picker selected=selected}}
{{selected}}
<button style="position: fixed; left: 50%; bottom: 10px; transform: translateX(-50%)" class="btn btn-primary" {{action "save"}}>Save Preferences</button>
